
.home-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.home-container h2 {
    font-size: 46px;
}

.typing-effect {
    color: #000000;
    font-size: 62px;
    margin-bottom: 20px;
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Keep text on one line */
    border-right: 3px solid #ffffff; /* Cursor effect */
    animation: typing 2s steps(30) forwards;
}

@keyframes typing {
    0% { width: 0 }
    100% { width: 100% }
}

.scrollable-content {
    max-height: 300px; /* Set a max height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 50px; /* Add some space between the text and the button */
}

.explore-button {
    padding: 10px 20px;
    font-size: 22px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px; /* Add margin-right for spacing between buttons */
}

.button-grp {
    padding-right: 20px;
}

.explore-button:hover {
    background-color: #3b95f5;
}


p {
    color: #000000;
    line-height: 1.5;
    font-size: large;
}

/* Feature cards */
.feature-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 50px;
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Center the cards vertically */
}

.feature-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Add smooth transition */
}

.feature-card:hover {
    transform: translateY(-5px); /* Move the card up slightly on hover */
}

.feature-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.feature-card p {
    color: #666;
    line-height: 1.5;
}

.footer p{
    background-color: #f8f9fa;
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 16px; /* Make the font size smaller */
}